Workspace.xcworkspace
.package.resolved

Projects/Common/Common.xcodeproj
Projects/Common/Derived
Projects/Common/build

Projects/API/API.xcodeproj
Projects/API/Derived
Projects/API/build

Projects/App/App.xcodeproj
Projects/App/Derived
Projects/App/build

Projects/CoreEntities/CoreEntities.xcodeproj
Projects/CoreEntities/Derived
Projects/CoreEntities/build

Projects/DI/DI.xcodeproj
Projects/DI/Derived
Projects/DI/build

Projects/DesignSystem/DesignSystem.xcodeproj
Projects/DesignSystem/Derived
Projects/DesignSystem/build

Projects/FeatureCommon/FeatureCommon.xcodeproj
Projects/FeatureCommon/Derived
Projects/FeatureCommon/build

Projects/FeedFeature/FeedFeature.xcodeproj
Projects/FeedFeature/Derived
Projects/FeedFeature/build

Projects/ImageLoader/ImageLoader.xcodeproj
Projects/ImageLoader/Derived
Projects/ImageLoader/build

Projects/LocalAPI/LocalAPI.xcodeproj
Projects/LocalAPI/Derived
Projects/LocalAPI/build

Projects/Navigation/Navigation.xcodeproj
Projects/Navigation/Derived
Projects/Navigation/build

Projects/Packages/Networking/Networking.xcodeproj
Projects/Packages/Networking/Derived
Projects/Packages/Networking/build

Projects/Packages/Persistance/Persistance.xcodeproj
Projects/Packages/Persistance/Derived
Projects/Packages/Persistance/build